# =========================
# Godot
# =========================
game/.godot/
game/*.translation
game/*.tmp

# =========================
# C++ / GDExtension Binaries
# =========================
game/bin/*.so
game/bin/*.dll
game/bin/*.dylib
game/bin/*.exp
game/bin/*.lib
game/bin/*.a
game/bin/*.pdb

# =========================
# CMake & Build Systems
# =========================
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
compile_commands.json
Makefile
.ninja_*

# =========================
# VS Code & OS
# =========================
.vscode/
.DS_Store
Thumbs.db
